/*Contenedor FLEX del formulario de contacto*/
.flex-container-contacto {
    width: 93vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-container-contacto form:nth-child(1) {
    border-bottom: 2px solid black;
    margin: 10px;
    padding: 10px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 0px !important; 
}
.flex-container-contacto section:nth-child(2) {

    margin: 10px;
    padding: 10px;
    text-align: center;
}