.section-escuela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foto-entrada{
    padding: 1rem;
    width: 100%;
}
.div-escuela{
    padding: 1rem
}
.main__escuela{
    display: flex;
    &--contenedor{
        display: flex;
        flex-direction: column;
        &-imagen{
            width: 100%;
        }
        &-parrafo{
            padding-top: 1rem;
            font-size: larger;
        }
    }
}