.flex-container-servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
    }
}
.main__servicios{
    display: flex;
    &--contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-tarjeta{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border: 2px solid black;
            gap: 2rem;
        }
    }
}
