.main__tarifas--contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-tabla{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/*
yendome de css _tarifas.scss

.main__tarifas--contenedor-tabla{
    display: flex;
    flex-direction: column;
    text-align: center;
}
*/






