footer {
    display: flex;
    border: solid 2px black;
    margin: 1rem;
    padding: 1rem;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.668);
    align-items: center;
    max-width: 1200px;
    width: 100%;

    font-size: 0.7rem;
    section{
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }
}

.footer__img-size{
    width: 50px;
}

.img-bariloche{
    border-radius: 0px;  
}

/*
yendome de css _footer.scss

footer section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
*/



