$--color_primario:#8527c3fd;
$--color_primario_suave:#8527c383;
$--color_blanco:#fff;
$--altura_header:80px;
$--padding_left_right:2rem;
$--ancho_maximo: 1200px;
$background-color-hamburguesa: #33333384;

header {
    border: solid 2px black;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.804);

    nav{
        border: 2px solid black;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: repeat(5, 1fr);
        width: 100%;
        margin: 10px;
        display: none;
        a{
            color: black;
        }
    }

    div{
        padding: 5px;
        margin: 5px;
        width: 100%;
        a{
            border: none;
        }
    }

    i{
        font-size: 2rem;
    }
}
.contenedor-redes{
    border-radius: 15px;
    a{
        &:nth-child(1){
            &:hover{
                background-color: crimson;
                height: 40px;
            }
        }
        &:nth-child(2){
            &:hover{
                background-color: blue;
                height: 40px;
            }
        }
        &:nth-child(3){
            &:hover{
                background-color: cadetblue;
                height: 40px;
            }
        }
    }
}

/*Contenedor GRID del encabezado*/
.grid-encabezado {
    border: solid 2px black;

    background-image: url(../img/PNGs/pngegg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;

    display: grid;
    grid-template-columns: repeat(48, 2.08%);
    grid-template-rows: repeat(14, 20px);
    div{
        &:nth-child(1){
            grid-column: 42/46;
            grid-row: 11/14;
            img{
                &:hover{
                    background-color: darkcyan;
                }
            }
        }
        &:nth-child(3){
            grid-column: 1/10;
            grid-row: 12/15;
            margin: 10px;
            display: flex;
        }
    }
    h1{
        &:nth-child(2){
            grid-column: 10/41;
            grid-row: 2/7;
        }
    }
}
.flex-item-nav:hover {
    background-color: black;
    border: 2px solid black;
    color: white;
    padding: 0.5rem 1rem;
}
.estilo-redes{
    color: black;
    font-size: 20px;
}
.lista-desplegable{
    position: absolute;
    list-style: none;
    display: none;
}
.hamburguesa:hover .lista-desplegable{
    display: block;
    right: 10px;
}
.item-desplegable{
    padding: 10px;
    margin: 2px;
    color: white;
}
.contenedor-desplegable{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.header__nav-button{
    margin: .1rem;
    border: 0;
    background-image: linear-gradient(
        150deg,
        #9500ff,
        #09f,
        #00DDFF
    );
    border-radius: 15px;
    color: #fff;
    display: flex;
    font-size: 15px;
    padding: 4px;
    cursor: pointer;
    transition: .2s;

    span{
        background-color: #111;
        padding: 9px 30px;
        border-radius: 15px;
        transition: .2s;
    }

    &:hover{
        span{
            background: none;
        }
    }

    &:active{
        border: 1px solid black;
        transform: scale(0.8);
    }
}

/* CLASES DEL MENU HAMBURGUESA */
.navbar {
    border: none;
    display: flex;
    justify-content: end;
    position: relative;
    // height: 100%;
    // width: min(1200px, 100%);
    // margin: 0 auto;
    // align-items: center;
    // flex-wrap: wrap;
    // padding: 0 $--padding_left_right;
}
.menu_hamburguesa{
    display: none;
    &:checked + .ul_links{
        // height: calc(100vh - $--altura_header);
        height: 240px;
    }
}
.list_icon {
    color: black;
    cursor: pointer;
}
.ul_links{
    width: 100%;
    background-color: black;
    position: absolute;
    top: $--altura_header;
    left: 0;
    // height: calc(100vh - $--altura_header);
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s;
    list-style: none;
    padding-left: .7rem;
    padding-right: .7rem;
}
.li_links{
    border: 1px solid white;
    margin: 2px;
    width: 100%;
}
.link {
    border: none;
    font-size: 2rem;
    color: $--color_blanco;
    // font-weight: bold;
}
