main {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.668);
    max-width: 1200px;
    width: 100%;
    div{
        img{
            min-width: 46vw;
        }
        section{
            text-align: center;
            ul{
                list-style: none;
                text-align: center;
            }
        }
    }
}
/*Contenedor FLEX de las secciones del main*/
.flex-item-main {
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 10px;
    width: 100%;
    gap: 2rem;
    height: auto;
}
/*Contenedor FLEX de botones del info*/
.flex-container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        border: none;
        color: white;
    }
}
.flex-item-info{
    border: solid black 2px;
    background-color: rgba(1, 1, 1, 0.501);
    &:hover{
        background-color: black;
        border: 2px solid white;
        color: white;
        padding: 0.5rem 1rem;
    }
}
.carousel-main {
        display: flex;
        padding: 16px;
        overflow: auto;
        max-width: 1200px;
        max-width: 100%;
}
.tarjeta-carousel {
    flex-basis: 300px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    /*oculta el exceso de imagen*/
    padding: 10px;
}
.fondo-info {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url("../img/Basecat.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sections-main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.main__escuela--contenedor-parrafo {
    font-size: larger;
    text-align: center;
}
.flex-container-contacto-mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}


@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

.animation{
    view-timeline-name: --animation;
    view-timeline-axis: block;

    animation-timeline: --animation;
    animation-name: show;
}