main {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.668);
    max-width: 1200px;
    width: 100%;
}
main div img {
    min-width: 46vw;
}
main div section ul {
    list-style: none;
}

div img {
    width: 10vw;
}

/*Contenedor FLEX de las secciones del main*/
.flex-item-main {
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 10px;
    width: 100%;
}
.flex-item-main h3:nth-child(1) {
    grid-column: 1/4;
}
.flex-item-main div:nth-child(2) {
    grid-column: 1/4;
}

/*Contenedor FLEX de botones del info*/
.flex-container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-container-info a {
    border: none;
    color: white;
}
.flex-item-info{
    border: solid black 2px;
    background-color: rgba(1, 1, 1, 0.501);
}
.flex-item-info:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 0.5rem 1rem;
}

.carousel-main {
    display: grid;
    padding: 16px;
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.tarjeta-carousel {
    flex-basis: 300px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    /*oculta el exceso de imagen*/
    padding: 10px;
}

.fondo-info {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);

    background-image: url("../img/Basecat.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sections-main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

